body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background-color: #FFF3C6;
  color: black;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

h1, #comment {
  font-size: 1.5rem;
  max-width: 40%;
  margin: 1rem auto;
  margin-top: 0;
}

#selector {
  background-color: #FFCD6D;
}

#one, #two, #three {
  flex-direction: column;
  display: flex;
  padding: 0.5rem 1rem;
  row-gap: 0.5rem;
}

#three {
  min-width: 6rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

#comment {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  border: 0.125rem dashed black;
  line-height: 1.5;
}

.flex-container {
  display: flex;
  margin: 1rem auto;
  min-width: 40%;
}

.col-direction {
  flex-direction: column;
}

.width-min-content {
  width: min-content;
  flex: 1 1 auto;
}

.child {
  text-align: left;
  line-height: 1.5;
  padding: 1rem;
}

ol {
  list-style: inside;
  list-style-type: decimal;
}

ol li {
  padding-left: 0.5rem;
  cursor: pointer;
}

select:active, :visited {
  border: 0.125rem solid black;
}

button {
  color: whitesmoke;
  background-color: #003CB2;
  border: 0.125rem solid black;
  padding: 0.5rem;
  font-family: inherit;
  font-weight: bold;
}

select {
  line-height: 1.5;
  text-transform: uppercase;
  background: url(../images/arrow-down-svgrepo-com.svg) no-repeat;
  background-position-x: 97.5%;
  background-position-y: 50%;
  background-size: 1rem;
  padding: 1rem;
  padding-right: 2rem;
  border: 0.125rem solid black;
  cursor: pointer;
}

select:focus {
  outline: white solid 0.125rem;
}

@media only screen and (max-width: 1000px) {
  .flex-container, h1, #comment {
    min-width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container, h1, #comment {
    min-width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .flex-container, h1, #comment {
    min-width: 95%;
  }
}

@media only screen and (max-width: 300px) {
  .flex-container, h1, #comment {
    min-width: 90%;
    max-width: 95%;
  }

  select {
    font-family: inherit;
    text-transform: none;
    padding: 0.25rem;
    padding-right: 0.5rem;
  }
}
